* {
  --background: #242424;
  --text: #ffffff;
  --contrast: #2085ea;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  font-family: sans-serif;
}

.menu-container,
.game-container,
.score-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-heading,
#subheading {
  color: var(--text);
  text-align: center;
}

#main-heading {
  font-size: 3rem;
  margin-bottom: 1px;
}

#subheading {
  font-size: 1.125rem;
  margin-top: 1px;
  color: #515050;
}

.game-container {
  font-size: 1.875rem;
  text-align: left;
}

#time-left {
  font-weight: 600;
  color: var(--contrast);
}

#game-text {
  color: #515050;
  width: 90%;
}

#output {
  color: var(--text);
  width: 90%;
}

.start-btn {
  border: none;
  border-radius: 25px;
  font-size: 1.5rem;
  color: var(--text);
  background-color: var(--contrast);
  transition: 0.3s ease-in-out;
}

.start-btn:hover {
  cursor: pointer;
  background-color: #1976d3;
}

.hidden {
  display: none;
}

.loading {
  color: var(--contrast);
}

.summary-container {
  text-align: center;
}

#score {
  font-size: 3rem;
  color: var(--text);
  font-weight: 600;
}

.ng-btn {
  border: none;
  border-radius: 25px;
  font-size: 1.5rem;
  color: var(--text);
  background-color: var(--contrast);
  transition: 0.3s ease-in-out;
}

.ng-btn:hover {
  cursor: pointer;
  background-color: #1976d3;
}
